<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Data Students</h2>
  <p></p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        <%data.forEach(element => {%>
            <tr>
                <td><%=element.first_name%></td>
                <td><%=element.last_name%></td>
                <td><%=element.email%></td>
                <td><a href="students/edit/<%= element.id %>" >edit</a></td>
                <td><a href="students/delete/<%= element.id %>" >delete</a></td>
            </tr>
        <%})%>
    </tbody>
  </table>
</div>

</body>
</html>


