<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="path/to/jquery.js"></script>
    <script src="path/to/popper.js"></script>
    <script src="path/to/bootstrap.js"></script>
    <script src="path/to/bootstrap-confirmation.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class"container">
            <h1>Student Data</h1>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First_name</th>
                    <th scope="col">Last_name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td><%- data[i].id %></td>
                            <td><%- data[i].first_name %></td>
                            <td><%- data[i].last_name %></td>
                            <td><%- data[i].email %></td>
                            <td><a href="edit/<%-data[i].id%>">edit</a> | <a href="delete/<%-data[i].id%>" onclick="return confirm('are you sure?')">delete</a></td>
                        </tr>
        
                    <% } %>
                </tbody>
            </table>    
    </div>
    
</body>
</html>