<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Option</th>
    </tr>
    <% for(let i = 0; i < data.length; i++) { %>
        <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].first_name %></td>
        <td><%= data[i].last_name %></td>
        <td><%= data[i].email %></td>
        <td><a href="/students/delete/<%= data[i].id %>  ">delete</a>
            <a href="/students/edit/<%= data[i].id %> ">edit</a></td>
        </tr>
    <% } %>
    </table>
    <a href='/students/add'>ADD STUDENT</a>
</body>
</html>