<!DOCTYPE html>
<html lang="en">
<title>Teacher List</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-blue w3-card w3-left-align w3-large">            
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
            <a href="/student" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Student</a>
            <a href="/teacher" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Teacher</a>
            <a href="/subject" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Subject</a>
        </div>

        <div class="w3-container">
            <h2>Teacher List</h2>
            <table class="w3-table" border="3">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Options</th>
                </tr>
                <%data.forEach(function(teacher){%>
                    <tr>
                        <td>
                            <%=teacher.firstname %>
                        </td>
                        <td>
                            <%=teacher.lastname %>
                        </td>
                        <td>
                            <%=teacher.email %>
                        </td>
                        <td>
                            <a href="/teacher/edit/<%=teacher.id%>">
                                <button type="submit" class="btn btn-xs">Edit
                                </button>
                            </a>
                            <a href="/teacher/delete/<%=teacher.id%>">
                                <button type="submit" class="btn btn-xs" onclick="return confirm ('Are you sure want to delete this data with name <%=teacher.first_name%> <%=teacher.last_name%>?')">Delete</button>
                            </a>
                        </td>
                    </tr>
                    <%})%>
            </table>
            <a href="/teacher/add">
            <button type="button">
              Register Here!
            </button>
          </a>
        </div>

</body>

</html>
