<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].first_name %></td>
                <td><%= data[i].last_name %></td>
                <td><%= data[i].email %></td>
                <td>
                    <a onclick="confirm('Are You Sure?')" href="/teachers/delete/<%= data[i].id %>">Remove</a>
                </td>
            </tr>
            <% }; %>
        </table>
    </body>
</html>
